/* Media Queries */

@media only screen and (max-width: 1024px) {
    .container {
        width: 85% !important;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 99% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .c-placeholder {
        width: 96% !important;
        margin: auto;
    }
    .c-selection-selectbox {
        width: 75% !important;
    }
}

@media only screen and (max-width: 550px) {
    .c-placeholder {
        padding: 1em 0em !important;
    }
    .c-placeholder__item-title {
        width: auto !important;
        display: block !important;
        text-align: left;
        margin-bottom: 0.5em;
    }
    .c-placeholder__item-title:after {
        content: '' !important;
        position: inherit !important;
    }
    .c-placeholder__item-app {
        width: 100% !important;
        text-align: left !important;
    }
    .c-range-slider input[type='range'] {
        width: 100% !important;
        display: block;
    }
    .c-range-slider--value {
        margin-top: -30px;
        display: block !important;
    }
    .c-placeholder.h-text-align--r {
        text-align: center !important;
    }
    .c-selection-pill {
        float: left;
    }
    .c-selection-pill ul>li {
        font-size: 0.9em;
    }
    .c-selection-radio {
        text-align: left;
    }
    .c-selection-radio__item {
        margin-left: 0 !important;
        margin-right: 10px;
    }
    .c-selection-selectbox {
        width: 100% !important;
    }
}