.c-selection-radio {
    width: 100%;
    position: relative;
}

.c-selection-radio__item {
    width: auto;
    display: inline-block;
    position: relative;
    margin-left: 10px;
}

.c-selection-radio__item input {
    vertical-align: bottom;
    display: inline-block;
}

.c-selection-radio__item input[type='radio'] {
    display: none;
}

.c-selection-radio__item label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}

.c-selection-radio__item label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: -5px;
    border: 1px solid #00B100;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius: 10px;
}

.c-selection-radio__item input[type=radio]:checked+label:before {
    content: "\2022";
    color: #FB5868;
    font-size: 40px;
    text-align: center;
    position: absoulte;
}