$c-selection-pill:( hover-bg: map-get($color-schema, faded-yellow), border: 1px solid map-get($color-schema, faded-yellow), label-color: map-get($color-schema, sap-green), background: map-get($color-schema, android-green), color: map-get($color-schema, carnation), checked: ( border: map-get($color-schema, light-gray)));
$c-selection-pill: map-merge($c-selection-pill, getSettingsMap("c-selection-pill"));
.c-selection-pill {
    width: 100%;
    display: block;
    float: right;
    &--holder {
        display: inline-block;
    }
    input[type='radio'] {
        display: none;
        &:checked {
            &+ {
                label {
                    &:before {
                        content: '';
                        color: map-get($c-selection-pill, color) !important;
                        background: map-get($c-selection-pill, hover-bg);
                        border-top: 1px solid map-deep-get($c-selection-pill, checked, border) !important;
                        border-bottom: 1px solid map-deep-get($c-selection-pill, checked, border) !important;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                    }
                }
            }
        }
    }
    label {
        padding: 1.1em;
        text-align: center;
        background: map-get($c-selection-pill, background);
        color: map-get($c-selection-pill, label-color);
        border-top: map-get($c-selection-pill, border);
        border-bottom: map-get($c-selection-pill, border);
        border-right: map-get($c-selection-pill, border);
        width: auto;
        float: left;
        z-index: 1;
        display: block;
        &:hover {
            background: map-get($c-selection-pill, hover-bg);
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            color: map-get($c-selection-pill, color);
        }
        &:before {
            content: "";
            display: inline-block;
            width: auto;
        }
    }
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    font-size: 13px;
}