$c-selection-pill:( border:1px solid #f7fe81, );
$c-selection-pill: map-merge($c-selection-pill, getSettingsMap("c-selection-pill"));
.c-selection-pill {
    width: 100%;
    display: block;
    float: right;
    &--holder {
        display: inline-block;
    }
    input[type='radio'] {
        display: none;
        &:checked {
            &+ {
                label {
                    &:before {
                        content: '';
                        color: #FB5868 !important;
                        background: #F7FE81 !important;
                        border-top: 1px solid #D5D5D5 !important;
                        border-bottom: 1px solid #D5D5D5 !important;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                    }
                }
            }
        }
    }
    label {
        padding: 1.1em;
        text-align: center;
        background: #AEBD38;
        color: #598234;
        border-top: map-get($c-selection-pill, border);
        border-bottom: map-get($c-selection-pill, border);
        border-right: map-get($c-selection-pill, border);
        width: auto;
        float: left;
        z-index: 1;
        display: block;
        &:hover {
            background: #f7fe81;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            color: #FB5868;
        }
        &:before {
            content: "";
            display: inline-block;
            width: auto;
        }
    }
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    font-size: 13px;
}