.c-selection-pill {
    width: 100%;
    display: block;
    float: right;
}

.c-selection-pill--holder {
    display: inline-block;
}

.c-selection-pill input[type="radio"] {
    display: none;
}

.c-selection-pill label {
    padding: 1.3em;
    text-align: center;
    background: #00B100;
    color: #D5D5D5;
    border-top: 1px solid #F7FE81;
    border-bottom: 1px solid #F7FE81;
    border-right: 1px solid #F7FE81;
    width: auto;
    float: left;
    z-index: 1;
    display: block;
}

.c-selection-pill label:hover {
    background: #F7FE81;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    color: #FB5868;
}

.c-selection-pill label:before {
    content: "";
    display: inline-block;
    width: auto;
}

.c-selection-pill input[type="radio"]:checked+label:before {
    content: '';
    color: #FB5868 !important;
    background: #F7FE81 !important;
    border-top: 1px solid #D5D5D5 !important;
    border-bottom: 1px solid #D5D5D5 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    font-size: 13px;
}