.main {
    width: 100%;
}

.container {
    width: 70%;
    margin: auto;
    display: block;
    padding: 3em;
    position: relative;
    margin-top: 20px;
}

.c-placeholder {
    display: block;
    position: relative;
    width: 100%;
    padding: 1em 1em;
    border-bottom: 1px solid #efefef;
}

.c-placeholder:first-child:not(:last-child) {
    border-top: 1px solid #efefef;
}

.c-placeholder__item-title {
    display: inline-block;
    position: relative;
    width: 20%;
    vertical-align: middle;
    font-size: 1.1em;
    margin-right: 1%
}

.c-placeholder__item-title:after {
    content: ':';
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
}

.c-placeholder__item-app {
    text-align: right;
    display: inline-block;
    width: 78%;
    vertical-align: middle;
}

.c-placeholder--absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%);
}

.h-text-align--r {
    text-align: right;
}

.h-text-align--c {
    text-align: center;
}

.h-text-align--l {
    text-align: left;
}

.rank-point {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    text-align: center;
}

.rank-point span {
    font-size: 2.0em;
    text-shadow: 1px 0px 5px #333;
    display: block;
    margin-bottom: 0.3em;
}