<div class="main">
    <header>
        <h1>Cuddle Index
            <span style="font-size:0.6em;background:rgba(255,255,255,0.4);padding:0.1em 0.7em;"><em>higher the index, more cuddly you are</em></span>
        </h1>
    </header>
    <section>
        <div class="container">

            <div class="c-placeholder">
                <div class="c-placeholder__item-title">
                    Your Age
                </div>
                <div class="c-placeholder__item-app">
                    <app-range-slider (changeHandler)="actionEvent($event,'age')" [range]="{min:ageData.range.min,max:ageData.range.max}"></app-range-slider>
                </div>

            </div>
            <div class="c-placeholder">
                <div class="c-placeholder__item-title">
                    Youre Height(cm)
                </div>
                <div class="c-placeholder__item-app">
                    <app-range-slider (changeHandler)="actionEvent($event,'height')" [range]="{min:heightData.range.min,max:heightData.range.max}"></app-range-slider>
                </div>

            </div>
            <div class="c-placeholder">
                <div class="c-placeholder__item-title">
                    Your Mood
                </div>
                <div class="c-placeholder__item-app">
                    <select name="" id="">
                        <option value="">Calm</option>
                        <option value="">Agresive</option>
                        <option value="">Cool</option>
                        <option value="">Dominant</option>
                    </select>

                </div>
            </div>
            <div class="c-placeholder">
                <div class="c-placeholder__item-title">
                    Genre
                </div>
                <div class="c-placeholder__item-app">
                    <app-selection-radio (changeHandler)="actionEvent($event,'radio')" [data]="radioData"></app-selection-radio>
                </div>
            </div>
            <div class="c-placeholder">
                <div class="c-placeholder__item-title">
                    Hair Color
                </div>
                <div class="c-placeholder__item-app">
                    <app-selection-pill (changeHandler)="actionEvent($event,'pill')" [data]="pillData"></app-selection-pill>
                </div>
            </div>
            <div class="c-placeholder h-text-align--r">
                <app-button (click)="calculationResult()" [value]="'Calculate'"></app-button>
            </div>
            <div *ngIf="hasResult">
                <div style="position:absolute;z-index:1024;width:100%;height:100%;top:0;left:0;background:rgba(255,255,255,0.96); border-radius:4px;box-shadow: 0px 0px 20px 0px #d8d8d8;">
                    <span>{{avatar}}</span>
                    <div class="c-placeholder--absolute">
                        <div class="animal-avatar animated tada animal-avatar--{{avatar}}"></div>
                        <div class="rank-point">
                            <span> Rank: {{finalRank}} </span>
                            <app-button [value]="'Another Shot'" (click)="again()"></app-button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>

</div>