$c-selection-selectbox:( border: map-get($color-schema, light-gray));
$c-selection-selectbox: map-merge($c-selection-selectbox, getSettingsMap("c-selection-selectbox"));
.c-selection-selectbox {
    border: 1px solid map-get($c-selection-selectbox, border);
    width: 48%;
    border-radius: 3px;
    overflow: hidden;
    text-align: left;
    float: right;
    padding: 0.3em;
    position: relative;
    select {
        padding: 5px 8px;
        width: 100%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        &::-ms-expand {
            display: none;
        }
        &:focus {
            outline: none;
        }
    }
    &:before {
        content: '\2194';
        position: absolute;
        right: 12px;
        top: 9px;
        -ms-transform: rotate(90deg);
        /* IE 9 */
        -webkit-transform: rotate(90deg);
        /* Safari */
        transform: rotate(90deg);
    }
}