*,
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.header {
    text-shadow: 1px 0px 5px #333;
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: bottom;
}

.header h1 {
    font-size: 2.0em;
}

.header span {
    font-size: 1.2em;
    background: rgba(255, 255, 255, 0.6);
    padding: 0.1em 0.7em;
}

header {
    padding: 0.5em;
    display: table;
    background-color: transparent;
    background-image: url('/assets/images/bg.png');
    background-size: contain;
    color: #ffffff;
    width: 100%;
    min-height: 80px;
    border-bottom: 4px solid #dddddd;
    border-top: 4px solid #dddddd;
    box-shadow: 0px 0px 20px #333
}


/* Avatar Sprite */

.animal-avatar {
    background-image: url('/assets/images/animals/animal_sprite.png');
    width: 200px;
    height: 205px;
    position: relative;
    display: inline-block;
    animation-name: scaler;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animal-avatar--monk {
    background-position: -165px -25px;
}

.animal-avatar--donk {
    background-position: -360px 0px;
    height: 230px !important;
}

.animal-avatar--duck {
    background-position: -557px -30px;
}

.animal-avatar--tweet {
    background-position: -2px -233px;
    width: 175px !important;
}

.animal-avatar--dog {
    background-position: 378px -228px;
}

.animal-avatar--monkey {
    background-position: 180px -226px;
}

.animal-avatar--elephant {
    background-position: 14px -437px;
}

.animal-avatar--penguin {
    background-position: 377px -437px;
}

.animal-avatar--leo {
    background-position: 377px -648px;
}

.animal-avatar--peggie {
    background-position: 15px 0px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


/* Media Queries */

@media only screen and (max-width: 1024px) {
    .container {
        width: 85% !important;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 99% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .c-placeholder {
        width: 96% !important;
        margin: auto;
    }
    .c-selection-selectbox {
        width: 75% !important;
    }
}

@media only screen and (max-width: 550px) {
    .c-placeholder {
        padding: 1em 0em !important;
    }
    .c-placeholder__item-title {
        width: auto !important;
        display: block !important;
        text-align: left;
        margin-bottom: 0.5em;
    }
    .c-placeholder__item-title:after {
        content: '' !important;
        position: inherit !important;
    }
    .c-placeholder__item-app {
        width: 100% !important;
        text-align: left !important;
    }
    .c-range-slider input[type='range'] {
        width: 100% !important;
        display: block;
    }
    .c-range-slider--value {
        margin-top: -30px;
        display: block !important;
    }
    .c-placeholder.h-text-align--r {
        text-align: center !important;
    }
    .c-selection-pill {
        float: left;
    }
    .c-selection-pill ul>li {
        font-size: 0.9em;
    }
    .c-selection-radio {
        text-align: left;
    }
    .c-selection-radio__item {
        margin-left: 0 !important;
        margin-right: 10px;
    }
    .c-selection-selectbox {
        width: 100% !important;
    }
}


/* Animation */

@keyframes scaler {
    from {
        transform: scale3d(1, 1, 1);
    }
    10%,
    20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}