header {
    padding: 0.5em;
    display: table;
    background-color: transparent;
    background-image: url('/assets/images/bg.png');
    background-size: contain;
    color: #ffffff;
    width: 100%;
    min-height: 80px;
    border-bottom: 4px solid #dddddd;
    border-top: 4px solid #dddddd;
    box-shadow: 0px 0px 20px #333
}